@media (max-width: 1200px) {
  header {
    width: 940px;
    padding-bottom: 18px;
  }

  .logo img {
    margin-right: 10px;
  }
  .banner {
    width: 940px;
    box-sizing: border-box;
    padding: 30px 30px 140px 40px;
  }
  .banner-image img {
    width: 430px;
  }
  .cards {
    width: 940px;
    margin-top: 70px;
    box-sizing: border-box;
  }
  .text-box {
    padding-left: 10px;
  }
  .features {
    flex-direction: column;
    width: 940px;
    box-sizing: border-box;
  }
  .features-right {
    width: 100%;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    border: none;
  }
  .features-left {
    width: 85%;
    box-sizing: border-box;
  }
  .features-right p {
    width: 100%;
    box-sizing: border-box;
  }
  .join-us {
    width: 940px;
    box-sizing: border-box;
  }
  .support {
    width: 940px;
  }
  .support-right {
    font-size: 1rem;
  }
  .support .support-number {
    font-size: 1.2rem;
  }
  .support .support-left span {
    font-size: 1rem;
  }
  footer {
    width: 940px;
    box-sizing: border-box;
  }
  .footer-right .colmn {
    margin-left: 50px;
  }
}

/* ------------------------------------------------------ */
@media (max-width: 990px) {
  header {
    margin: auto;
    width: 100%;
    padding: 21px 50px 21px 70px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  header.scrolled {
    padding: 10px 50px 10px 70px;
  }
  .logo {
    justify-content: flex-start;
  }
  .logo img {
    margin: 5px 5px 0 0;
  }
  .nav-btn {
    display: none;
  }
  .nav-list li a {
    color: black;
  }
  .nav-list li {
    margin: 10px;
  }
  .banner {
    width: auto;
    margin: 10px 40px;
    padding: 40px 30px 90px 30px;
  }
  .banner-image img {
    display: none;
  }
  .banner-text {
    text-align: center;
  }
  .banner-text p {
    font-size: 1.15rem;
    margin-top: 6px;
  }
  .banner-button {
    margin-top: 20px;
  }
  .go-down {
    bottom: 49px;
  }
  .cards {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px 0;
    letter-spacing: 0;
  }
  .text-box {
    padding: 20px 30px 0;
    width: 100%;
    box-sizing: border-box;
  }
  .text-box p {
    font-size: 15px;
  }
  .text-box h2:nth-last-child(4) {
    font-size: 25px;
  }
  .img-box-right,
  .img-box-left {
    justify-content: center;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
  }
  .img1 {
    width: 463px;
    height: 483px;
  }
  .img2 {
    margin: 40px 0 0 0;
    width: 577px;
    height: 480px;
  }
  .img5 {
    margin-top: -50px;
  }
  .features {
    width: auto;
    flex-direction: column;
    padding: 0 10px;
    /* border: 1px solid red; */
  }
  .features-right {
    padding: 0 50px;
    width: auto;
  }
  .features-left {
    width: auto;
    padding: 0;
    margin: 30px;
  }
  .features-right h3 {
    font-size: 1.6rem;
  }
  .features-right p {
    margin-top: 15px;
    text-align: right;
  }
  .features-left .grid p {
    padding-left: 20px;
    /* border: 1px solid red; */
  }
  .grid {
    padding: 25px 0 10px;
    /* border: 1px solid black; */
  }
  .join-us {
    width: auto;
    margin: 50px 30px 20px;
    /* box-sizing: border-box; */
  }
  .support {
    flex-direction: column;
    width: auto;
    margin: 0 40px;
    background-color: #fff;
    align-items: flex-start;
    /* border: 1px solid black; */
  }
  .pipe {
    margin: 0 12px;
  }
  .support-right {
    margin: 30px 0 15px;
    font-size: 1.1rem;
    /* border: 1px solid green; */
  }
  .support-left {
    background: #fbf6f1;
    width: 150px;
    padding: 8px 15px;
    border-radius: 40px;
    /* border: 1px solid red; */
  }
  .support .support-number {
    font-size: 1.2rem;
  }
  .support .support-left span {
    font-size: 1.1rem;
  }
  footer {
    width: auto;
    padding: 50px 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-right {
    margin-bottom: 20px;
  }
}

/* ----------------------------------------------------------- */
@media (max-width: 768px) {
  header {
    padding: 12px 20px 12px 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  header.scrolled {
    padding: 12px 20px 12px 5px;
  }
  .zarin-logo::after {
    content: url("../images/hamburger.svg");
    width: 20px;
  }
  nav {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .banner {
    margin: 0;
    padding: 40px 25px 100px 25px;
  }
  .go-down {
    bottom: 39px;
  }
  .text-box,
  .img-box-right {
    width: auto;
  }
  .img1 {
    width: 463px;
    height: 543px;
  }
  .img2 {
    width: 452px;
    height: 423px;
  }
  .img4,
  .img5 {
    display: none;
  }
  .cards {
    display: block;
    width: auto;
    margin: 0 40px;
    padding: 10px 0;
  }
  .card-btn {
    justify-content: center;
  }
  .text-box {
    text-align: center;
    padding: 20px 25px;
  }
  .text-box h2:first-child {
    font-size: 22px;
  }
  .text-box h2:nth-last-child(4) {
    font-size: 26px;
  }
  .text-box p {
    font-size: 13px;
  }
  .features-right {
    margin-bottom: 50px;
    width: auto;
    padding: 0 60px;
    /* border: 1px solid red; */
  }
  .features-right h3 {
    text-align: center;
  }
  .features-right p {
    margin-top: 20px;
  }
  .features-left {
    width: auto;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .features-left .grid {
    padding: 18px 0 20px;
    box-sizing: border-box;
    width: auto;
    margin: 0;
  }
  .features-left .title span {
    font-size: 24px;
  }
  .features-left .title {
    margin-bottom: 15px;
  }
  .join-us {
    margin: 40px 10px 15px;
    box-sizing: border-box;
  }
  .join-us span:first-child {
    font-size: 25px;
  }
  .join-us span:nth-last-child(2) {
    font-size: 19px;
  }
  .support-right {
    width: 100%;
    box-sizing: border-box;
  }
  .pipe {
    margin: 0 5px;
  }
  .footer-right {
    flex-wrap: wrap;
    /* width: auto; */
    justify-content: space-around;
  }
  .footer-right .colmn {
    width: auto;
    margin-left: 70px;
    box-sizing: border-box;
    margin-left: 130px;
    margin-bottom: 20px;
  }
}

/* ----------------------------------------------------------- */
@media (max-width: 575px) {
  .banner {
    padding: 75px 40px 100px 40px;
  }
  .banner-text h3 {
    font-size: 1.3rem;
    text-align: right;
    padding-right: 10px;
  }
  .banner-text p {
    font-size: 1rem;
    padding: 0 22px;
    line-height: 2.3rem;
    text-align: center;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    display: none;
  }
  .text-box h2:nth-last-child(4) {
    text-align: right;
  }
  .features-left {
    grid-template-columns: 1fr;
    margin: auto;
  }
  .features-left .grid {
    padding: 10px 70px;
    margin-top: 15px;
  }
  .features-right h3 {
    font-size: 1.6rem;
  }
  .features-left span {
    font-size: 1.3rem;
  }
  .join-us span:first-child {
    font-size: 20px;
  }
  .join-us span:nth-last-child(2) {
    font-size: 16px;
  }
  .support-right {
    /* flex-direction: column; */
    align-items: flex-start;
    /* border: 1px solid red; */
  }
  .footer-left {
    text-align: center;
  }
  .support .pipe {
    display: none;
  }
  .footer-right .colmn {
    margin-left: 35px;
    margin-right: 35px;
  }
  .footer-left {
    padding: 0;
  }
  .footer-left p {
    font-size: 14px;
  }
  .footer-left div img {
    width: 15px;
  }
}
/* ---------------------------------------------------------- */
@media (max-width: 465px) {
  .card-btn {
    flex-direction: column;
    justify-content: center;
  }
  .cards {
    width: auto;
    padding: 0 10px;
    margin: 0;
  }
  .card-btn a:last-child {
    margin-top: 20px;
  }
  .text-box h2:nth-last-child(4) {
    font-size: 24px;
  }
  .features-left .grid {
    padding: 15px;
  }
  .features-left .grid span {
    font-size: 1.1rem;
  }
  .features-right {
    padding: 0 25px;
    margin-top: 40px;
  }
  .features-right h3 {
    font-size: 24px;
  }
  .grid .title {
    margin-bottom: 15px;
  }
  .footer-right .colmn {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    padding-right: 0;
  }
}

