@media (max-width: 1200px) {
    header {
      width: 940px;
    }
    .zarin-logo {
      margin-right: 0;
    }
  }
  @media (max-width: 990px) {
    .nav-btn {
      display: none;
    }
    header {
      width: auto;
      padding: 29px 20px;
    }
    .zarin-logo {
      margin: 0 20px;
    }
  }
  @media (max-width: 768px) {
    nav {
      display: none;
    }
    header {
      padding: 10px 10px 15px 5px;
      width: auto;
    }
    .zarin-logo::after {
      content: url("../images/hamburger.svg");
      width: 20px;
    }
    .hamburger-icon {
      display: block;
    }
  }

  