* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  letter-spacing: -0.5px;
  font-family: "iranyekanwebregular";
}
/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding: 21px 0;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(20px);
  transition: all 0.5s ease;
  position: sticky;
  top: 0;
}
header.scrolled {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin: 5px 28px;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.nav-list li {
  margin: 0 15px;
}
.nav-list li a {
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  font-family: "YekanBakhMedium";
}
.nav-btn a {
  color: #28457b;
  background-color: rgba(232, 239, 254, 0.6);
  border-radius: 20px;
  padding: 10px 27px;
  font-family: "YekanBakhBold";
}
.nav-btn a:hover {
  background-color: #fbf6d9;
}
.drop-down-nav img {
  width: 8px;
  margin-right: 8px;
}
#show-more-menu img {
  width: 8px;
  margin-right: 8px;
}
#show-more-menu {
  position: relative;
}
#show-more-menu ul {
  position: absolute;
  top: 0;
  left: -35px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding: 20px 0 10px;
  margin-top: 23px;
  list-style: none;
  width: 123px;
  display: none;
  cursor: pointer;
}
#show-more-menu li {
  margin: 0;
  padding: 10px 20px;
}
#show-more-menu li:hover {
  background-color: rgba(232, 239, 254, 0.6);
}
#show-more-menu li a {
  font-size: 0.8rem;
  color: #303030;
  letter-spacing: -0.9px;
}
#show-product-menu {
  position: relative;
}
.product-menu {
  position: absolute;
  top: 0;
  left: -135px;
  background-color: #fff;
  display: none;
  justify-content: space-between;
  width: 385px;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding-top: 5px;
  margin-top: 23px;
}
.product-menu a p:first-child {
  color: #000;
  font-size: 0.95rem;
}
.product-menu a p:last-child {
  color: #000;
  font-size: 0.6rem;
}
.product-menu a {
  margin: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}
.product-menu a:hover {
  background-color: rgba(232, 239, 254, 0.6);
}
/* hamburger-menu-section */
.hamburger-icon {
  width: 27px;
  display: none;
  margin-left: 5px;
}
.cross-icon {
  padding: 25px 0;
  width: 100%;
  text-align: left;
}
.cross-icon img {
  width: 20px;
  margin-left: 30px;
}
.hamburger-menu {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 2;
  transform: translateY(-100%);
  font-family: "yekanBakhMedium";
}
.hamburger-menu-items {
  padding: 20px 30px;
}
.hamburger-menu-items li {
  list-style-type: none;
}
.hamburger-menu-items li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 3px 0;
  font-family: "YekanBakhMedium";
}
.hamburger-menu-items .horizontal-line {
  background-color: #dfe1e4;
  height: 1px;
  width: 90%;
  margin: 8px 0;
}
.more-item {
  background-color: #eee;
  padding: 20px 50px;
  display: flex;
  align-items: center;
}
.more-item a {
  color: #28457b;
  font-family: "iranyekanwebmedium";
  text-decoration: none;
  font-size: 0.85rem;
}
.more-item img {
  width: 15px;
  margin-right: 5px;
}
/* banner section */
.banner {
  width: 1050px;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  border-radius: 20px;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 60px 50px;
}
.banner-text {
  letter-spacing: -0.4px;
}
.banner-text h3 {
  font-family: "YekanBakhHeavy";
  font-size: 2rem;
  color: #fff;
}
.banner-text p {
  font-family: "YekanBakhMedium";
  margin-top: 18px;
  color: #fff;
  font-size: 1.25rem;
  line-height: 2.5rem;
}
.banner-image img {
  width: 500px;
}
.banner-button {
  margin-top: 60px;
}
.banner-button a:first-child {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  padding: 6px 14px;
  margin-left: 10px;
  color: #000;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: "YekanBakhBold";
}
.banner-button a:last-child {
  color: #fff;
  background-color: #435a8a;
  padding: 6px 14px;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: "YekanBakhBold";
}
.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}
.go-down div {
  background-image: url(../images/arrowbottom.svg);
  width: 164px;
  height: 78px;
}
.go-down img {
  width: 15px;
  position: relative;
  top: -60px;
}
/* card section */
.cards {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 50px 0 50px;
  /* height: 400px; */
  /* border: 1px solid black; */
}

.text-box {
  width: 50%;
  /* border: 1px solid black; */
  padding-left: 80px;
}
.text-box h2:first-child {
  margin-bottom: 5px;
  color: #747480;
  font-family: "YekanBakhMedium";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.text-box h2:nth-last-child(4) {
  color: #303030;
  font-family: "YekanBakhHeavy";
  font-weight: 900;
  font-size: 32px;
}
.text-box p {
  line-height: 40px;
  color: #303030;
  text-align: justify;
  font-family: "YekanBakhMedium";
  letter-spacing: -0.5px;
}
.horizontal-line {
  background-color: silver;
  height: 1px;
  margin: 30px 0;
}
.card-btn {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.card-btn a {
  text-decoration: none;
}
.card-btn a:first-child {
  display: inline-block;
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  color: #000;
  font-family: "YekanBakhMedium";
  border-radius: 10px;
  font-size: 14px;
  padding: 7px 14px;
  font-weight: 600;
  margin-left: 10px;
}
.card-btn a:last-child {
  background-color: rgba(232, 239, 254, 0.6);
  color: #28457b;
  display: flex;
  border-radius: 10px;
  padding: 7px 14px;
  font-family: "YekanBakhMedium";
  font-size: 14px;
  font-weight: 600;
}
.card-btn a:last-child img {
  /* padding-top: 10px; */
  display: inline-block;
  align-items: center;
  margin-right: 5px;
  width: 22px;
}
.img-box-right,
.img-box-left {
  /* background-color: #fbf6d9; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding-top: 50px; */
  /* border: 1px solid black; */
}
.img-box-right {
  justify-content: flex-start;
  /* background-color:#ffd900; */
}
.img-box-left {
  justify-content: flex-start;
}

.img1 {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  margin-right: -50px;
  margin-top: -50px;
  /* border: 1px solid red;
  background-color: #747480; */
}
.img2 {
  /* width: 500px;
  height: 500px; */
  /* border: 1px solid black; */
  /* margin-right: -90px; */
  /* padding-top: 140px; */
}
.img-box .img3 {
  width: 400px;
  /* height: 500px; */
  /* border: 1px solid black; */
  /* padding-bottom: -30px; */
  /* margin-right: -90px; */
}
.img-box .img4 {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  /* margin-right: -90px; */
}
.img-box .img5 {
  /* width: 400px; */
  /* height: 500px; */
  /* border: 1px solid black; */
  /* margin-right: -90px; */
}
.features {
  display: flex;
  width: 1170px;
  margin: 32px auto;
  /* border: 1px solid black; */
}
.features-right {
  width: 35%;
  /* border: 1px solid black; */
}
.features-right h2 {
  color: #303030;
  font-size: 32px;
  font-family: "YekanBakhHeavy";
}
.features-right p {
  font-family: "YekanBakhMedium";
  font-size: 16px;
  color: #303030;
  line-height: 40px;
  margin-top: 48px;
  padding-left: 100px;
}
.features-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  width: 65%;
  /* border: 1px solid black; */
}
.title {
  display: flex;
  align-items: center;
}
.div1,
.div2,
.div3,
.div4 {
  /* width: 60%; */
  /* border: 1px solid black; */
  /* border-bottom: 1px solid #e0e4e7; */
}
.div1,
.div2 {
  border-bottom: 1px solid #e0e4e7;
}
.div1,
.div3 {
  border-left: 1px solid #e0e4e7;
}
/* .border-left {border-left: 1px solid #e0e4e7;} */
.features-left img {
  width: 50px;
}
.features-left span {
  color: #303030;
  font-size: 24px;
  font-family: "YekanBakhHeavy";
  margin-right: 15px;
}
.features-left p {
  font-family: "YekanBakhMedium";
  font-size: 16px;
  color: #303030;
  line-height: 36px;
  margin-top: 21px;
  max-width: 300px;
  margin-bottom: 41px;
  color: #2d3436;
}
.join-us {
  width: 1170px;
  margin: 30px auto;
  border: 1px solid #c3c6cd;
  border-radius: 20px;
  padding: 40px 0;
  text-align: center;
}
.join-us span:first-child {
  color: #303030;
  font-size: 28px;
  font-family: "YekanBakhHeavy";
  display: block;
}
.join-us span:nth-last-child(2) {
  margin-top: 9px;
  color: #747480;
  font-size: 22px;
  font-family: "YekanBakhMedium";
  display: block;
}
.join-us a {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  margin-top: 17px;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 10px;
  display: inline-block;
  font-family: "iranyekanwebmedium";
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.support {
  background: #fbf6f1;
  border-radius: 35px;
  margin: 0 auto 50px;
  padding: 0 30px;
  height: 70px;
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support span {
  font-family: "yekanBakhHeavy";
  font-size: 20px;
  color: #303030;
}
.support-number {
  color: #21457f;
  font-size: 24px;
  margin-right: 10px;
}
.support div:last-child span {
  color: #21457f;
  font-size: 22px;
  font-family: "yekanBakhBold";
}
.support div:last-child {
  display: flex;
  align-items: center;
}
.support div:last-child img {
  width: 22px;
  margin-right: 10px;
}
.pipe {
  margin: 0 20px;
  font-family: "yekanBakhHeavy";
  font-size: 20px;
  color: #303030;
}
footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 150px;
}
.footer-right {
  display: flex;
  justify-content: space-between;
}
.footer-right .colmn {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
.colmn span {
  font-size: 20px;
  color: #303030;
  font-family: "YekanBakhHeavy";
  margin-bottom: 27px;
}
.colmn span:hover {
  color: #21457f;
}
.colmn a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: "YekanBakhMedium";
  line-height: 40px;
}
.footer-left span {
  margin-bottom: 22px;
  font-size: 18px;
  color: #303030;
  font-family: "YekanBakhHeavy";
  display: block;
}
.footer-left div img {
  border-radius: 12px;
  margin-right: 15px;
  background: #eff4fe;
  display: inline-block;
  padding: 10px;
}
.footer-left .signiture {
  text-align: center;
  display: inline-block;
  margin: 30px auto 0;
}
.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
