* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  letter-spacing: -0.5px;
}
header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(20px);
  width: 1170px;
  margin: 0 auto;
  padding: 21px 0 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* background-color: antiquewhite; */
}
.zarin-logo {
  margin-right: 22px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list li {
  list-style-type: none;
  margin-left: 22px;
  font-family: "YekanBakhMedium";
  font-size: 14px;
  font-weight: 500;
}
.nav-list li a {
  text-decoration: none;
  color: #303030;
}
.drop-down-nav img {
  width: 7px;
  margin-right: 5px;
}
.nav-list li:last-child {
  background-color: rgba(232, 239, 254, 0.6);
  font-family: "YekanBakhBold";
  padding: 10px 26px;
  margin-right: 20px;
  /* margin-left: 5px; */
  border-radius: 20px;
}
.nav-list li:last-child a {
  color: #28457b;
}
.nav-list li:last-child:hover {
  background-color: #fbf6d9;
}

.burgur-menu {
  /* background-color: aquamarine; */
  width: 692px;
  display: none;
}
.top-div {
  padding: 20px 20px 30px;
  display: flex;
  justify-content: flex-end;
}
.top-div img {
  width: 20px;
}
.items {
  padding: 30px 15px 15px;
}
.items li {
  list-style-type: none;
  font-family: "iranyekanwebregular";
  /* margin-bottom: 15px; */
  padding: 8px 0;
}
.items li a {
  text-decoration: none;
  color: #333;
}
.items .horizontal-line {
  background-color: #dfe1e4;
  height: 1px;
  width: 90%;
  margin: 8px 0;
}
.bottom-div {
  background-color: #eee;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.bottom-div a {
  color: #28457b;
  font-family: "iranyekanwebmedium";
  text-decoration: none;
  font-size: 16px;
}
.bottom-div img {
  margin: 4px 3px 0 0;
}
.product-items {
  /* background-color: antiquewhite; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-content:space-between; */
  row-gap: 15px;
  padding: 15px;
  font-family: "iranyekanwebmedium";
  color: #303030;
  width: 400px;
  font-size: 10px;
  font-weight: 300;
  border-radius: 15px;
  letter-spacing: -0.5px;
  box-shadow: 0 -5px 0 #ffe422;
  margin-top: 15px;
  display: none;
}
.product-items div {
  width: 50%;
}
.product-items span {
  display: block;
}

.banner {
  width: 1170px;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  border-radius: 20px;
  margin: 15px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 124px 60px 50px;
}
.right-banner {
  width: 50%;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  letter-spacing: -0.4px;
}
.right-banner span {
  font-family: "YekanBakhHeavy";
  font-size: 32px;
  display: block;
}
.right-banner p {
  font-family: "YekanBakhMedium";
  margin-top: 18px;
}
.left-banner {
  width: 50%;
}
.left-banner img {
  width: 500px;
}
.banner-btns {
  margin: 40px 0;
}
.banner-btns a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-family: "YekanBakhBold";
  border-radius: 10px;
  margin-top: 17px;
}
.banner-btns a:first-child {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  padding: 0.5px 14px;
  margin-left: 10px;
  color: #000;
}
.banner-btns a:last-child {
  color: #fff;
  background-color: #435a8a;
  padding: 1px 14px;
}
.cards {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 50px 0 50px;
  /* height: 400px; */
  /* border: 1px solid black; */
}

.text-box {
  width: 50%;
  /* border: 1px solid black; */
  padding-left: 80px;
}
.text-box h2:first-child {
  margin-bottom: 5px;
  color: #747480;
  font-family: "YekanBakhMedium";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.text-box h2:nth-last-child(4) {
  color: #303030;
  font-family: "YekanBakhHeavy";
  font-weight: 900;
  font-size: 32px;
}
.text-box p {
  line-height: 40px;
  color: #303030;
  text-align: justify;
  font-family: "YekanBakhMedium";
  letter-spacing: -0.5px;
}
.horizontal-line {
  background-color: silver;
  height: 1px;
  margin: 30px 0;
}
.card-btn {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.card-btn a {
  text-decoration: none;
}
.card-btn a:first-child {
  display: inline-block;
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  color: #000;
  font-family: "YekanBakhMedium";
  border-radius: 10px;
  font-size: 14px;
  padding: 7px 14px;
  font-weight: 600;
  margin-left: 10px;
}
.card-btn a:last-child {
  background-color: rgba(232, 239, 254, 0.6);
  color: #28457b;
  display: flex;
  border-radius: 10px;
  padding: 7px 14px;
  font-family: "YekanBakhMedium";
  font-size: 14px;
  font-weight: 600;
}
.card-btn a:last-child img {
  /* padding-top: 10px; */
  display: inline-block;
  align-items: center;
  margin-right: 5px;
  width: 22px;
}
.img-box-right,
.img-box-left {
  /* background-color: #fbf6d9; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding-top: 50px; */
  /* border: 1px solid black; */
}
.img-box-right {
  justify-content: flex-start;
  /* background-color:#ffd900; */
}
.img-box-left {
  justify-content: flex-start;
}

.img1 {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  margin-right: -50px;
  margin-top: -50px;
  /* border: 1px solid red;
  background-color: #747480; */
}
.img2 {
  /* width: 500px;
  height: 500px; */
  /* border: 1px solid black; */
  /* margin-right: -90px; */
  /* padding-top: 140px; */
}
.img-box .img3 {
  width: 400px;
  /* height: 500px; */
  /* border: 1px solid black; */
  /* padding-bottom: -30px; */
  /* margin-right: -90px; */
}
.img-box .img4 {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  /* margin-right: -90px; */
}
.img-box .img5 {
  /* width: 400px; */
  /* height: 500px; */
  /* border: 1px solid black; */
  /* margin-right: -90px; */
}
.features {
  display: flex;
  width: 1170px;
  margin: 32px auto;
  /* border: 1px solid black; */
}
.features-right {
  width: 35%;
  /* border: 1px solid black; */
}
.features-right h2 {
  color: #303030;
  font-size: 32px;
  font-family: "YekanBakhHeavy";
}
.features-right p {
  font-family: "YekanBakhMedium";
  font-size: 16px;
  color: #303030;
  line-height: 40px;
  margin-top: 48px;
  padding-left: 100px;
}
.features-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  width: 65%;
  /* border: 1px solid black; */
}
.title {
  display: flex;
  align-items: center;
}
.div1,
.div2,
.div3,
.div4 {
  /* width: 60%; */
  /* border: 1px solid black; */
  /* border-bottom: 1px solid #e0e4e7; */
}
.div1,
.div2 {
  border-bottom: 1px solid #e0e4e7;
}
.div1,
.div3 {
  border-left: 1px solid #e0e4e7;
}
/* .border-left {border-left: 1px solid #e0e4e7;} */
.features-left img {
  width: 50px;
}
.features-left span {
  color: #303030;
  font-size: 24px;
  font-family: "YekanBakhHeavy";
  margin-right: 15px;
}
.features-left p {
  font-family: "YekanBakhMedium";
  font-size: 16px;
  color: #303030;
  line-height: 36px;
  margin-top: 21px;
  max-width: 300px;
  margin-bottom: 41px;
  color: #2d3436;
}
.join-us {
  width: 1170px;
  margin: 30px auto;
  border: 1px solid #c3c6cd;
  border-radius: 20px;
  padding: 40px 0;
  text-align: center;
}
.join-us span:first-child {
  color: #303030;
  font-size: 28px;
  font-family: "YekanBakhHeavy";
  display: block;
}
.join-us span:nth-last-child(2) {
  margin-top: 9px;
  color: #747480;
  font-size: 22px;
  font-family: "YekanBakhMedium";
  display: block;
}
.join-us a {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  margin-top: 17px;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 10px;
  display: inline-block;
  font-family: "iranyekanwebmedium";
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.support {
  background: #fbf6f1;
  border-radius: 35px;
  margin: 0 auto 50px;
  padding: 0 30px;
  height: 70px;
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support span {
  font-family: "yekanBakhHeavy";
  font-size: 20px;
  color: #303030;
}
.support-number {
  color: #21457f;
  font-size: 24px;
  margin-right: 10px;
}
.support div:last-child span {
  color: #21457f;
  font-size: 22px;
  font-family: "yekanBakhBold";
}
.support div:last-child {
  display: flex;
  align-items: center;
}
.support div:last-child img {
  width: 22px;
  margin-right: 10px;
}
.pipe {
  margin: 0 20px;
  font-family: "yekanBakhHeavy";
  font-size: 20px;
  color: #303030;
}
footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 150px;
}
.footer-right {
  display: flex;
  justify-content: space-between;
}
.footer-right .colmn {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
.colmn span {
  font-size: 20px;
  color: #303030;
  font-family: "YekanBakhHeavy";
  margin-bottom: 27px;
}
.colmn span:hover {
  color: #21457f;
}
.colmn a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: "YekanBakhMedium";
  line-height: 40px;
}
.footer-left span {
  margin-bottom: 22px;
  font-size: 18px;
  color: #303030;
  font-family: "YekanBakhHeavy";
  display: block;
}
.footer-left div img {
  border-radius: 12px;
  margin-right: 15px;
  background: #eff4fe;
  display: inline-block;
  padding: 10px;
}
.footer-left .signiture {
  text-align: center;
  display: inline-block;
  margin: 30px auto 0 ;
}

@media (max-width: 1200px) {
  header,
  .banner {
    width: 940px;
  }
  .zarin-logo {
    margin-right: 0;
  }
  .banner {
    padding: 40px 30px 20px;
  }
  .banner .left-banner img {
    width: 400px;
  }
}
@media (max-width: 990px) {
  .nav-list li:last-child {
    display: none;
  }
  header {
    width: auto;
    padding: 29px 20px;
  }
  .zarin-logo {
    margin: 0 20px;
  }
  .drop-down-nav li {
    margin: 0 10px;
  }
  .banner {
    width: 902px;
  }
  .banner .left-banner {
    display: none;
  }
  .banner .right-banner {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  header {
    padding: 10px 10px 15px 5px;
    width: auto;
  }
  .zarin-logo::after {
    content: url("../images/hamburger.svg");
    width: 20px;
  }
}
